*{
	margin:0;
	padding:0;
	font-size: 15px;
	font-family: "Times New Roman";
}
body {
	background-color:white;
}
.error-container{
	color:red;
	text-align: center;
	margin-top:30px;
}


/* 修正箇所スタート */



.header {
	display: flex;
}

.msg1 {
	margin-left: 20px;
	text-decoration: none;
}

.content-container {
	margin-right: 150px;
}

.date-container {
	margin-bottom: 50px;
}

.date-container form {
	display: flex;
}

#date-paragraph {
	margin-top: 5px;
	margin-right: 10px;
}

#hyphen-paragraph {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

#search {
	margin-left: 20px;
}

#date {
	width: 130px;
	height: 30px;
	border-radius:5px;
	border-width:thin;
	text-align: center;
}

#search {
	width: 150px;
	height: 30px;
	border-radius:5px;
	border-width:thin;
}

/* 修正箇所終わり */

.hello-container {
	text-align:center;
	font-weight: bold;
}

.msg-container {

	width:400px;
	border:3px;
	border-radius:5px;
	background-color:white;
	margin: 10px auto;
	padding:30px;
	box-shadow: 1px 1px 5px 1px #999;

}

.message-container {
	display: flex;
}
.message-container p{
	margin-right:5px;
	padding:2px;

}
.comment-container {
	display: flex;
}
.comment-container p{
	margin-right:5px;

}

.new-comment-container {

}

.text-container{
	width:90%;
	overflow: auto;
}

input[value="削除"]{
	border-radius: 5px;
	padding:2px 10px;
	border:none;
	outline:none;
	color:white;
	font-weight: bold;
	background-color: #FFC7AF;
	margin-top: 10px;
	margin-bottom: 10px;

}
input[value="送信"]{
	border-radius: 5px;
	padding:2px 10px;
	border:none;
	outline:none;
	color:white;
	font-weight: bold;
	background-color:#FFBBFF;
	margin-top: 10px;
	margin-bottom: 10px;

}
input[value="絞り込み"]{
	border-radius: 10px;
	padding:4px 7px;
	border:none;
	outline:none;
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 10px;
	color: white;
	background-color: purple;
}

pre {
	white-space: pre-wrap;

}


.copyright {
  text-align:center;
  right: 20px;
  bottom: 10px;
  padding:10px 0;

}

