* {
	margin: 0;
	padding: 0;
}

.error-container {
	color:red;
	text-align: center;
}

.title-container {
	width: 400px;
	text-align:center;
 	margin: 200px auto 10px auto;
 	font-family: 'Amatic SC', cursive;
}

form {
	width: 400px;
	text-align:center;
 	margin: 0 auto;

}

.account-container input{
	border-radius: 5px;
	border-width:thin;
	opacity: 0.5;
	padding: 2px;

}

.password-container input{
	border-radius: 5px;
	border-width:thin;
	opacity: 0.5;
	padding: 2px;
	margin-top: 10px;
}


.login-button-container input{
	margin-top: 10px;
	padding: 3px 100px;
	border: none;
	outline: none;
	border-radius: 10px;
	background-color: #99FFCC;
	color: #fff;
	font-weight: bold;
}

.login-button-container input[value="ログイン"]:active {
	-webkit-transform: translateY(4px);
  	transform: translateY(4px);
  	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  	border-bottom: none;
}

.copyright {
  position: absolute;
  right: 20px;
  bottom: 10px;
}