* {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: "Times New Roman";
}

body {
	margin-top: 20px;
	background-color: white;
}

.info {
	text-align: center;
}

.info a {
	text-decoration: none;
}

#a2 {
	margin-left: 20px;
}

.error-container {
	color: red;
	text-align: center;
	margin-top: 30px;
}

.management-element p {
	margin-right: 0.5rem;
	display: inline-block;
}

.management-container {
	width: 400px;
	padding: 30px; border : 3px; border-radius : 5px; background-color :
	white; margin : 10px auto;
	box-shadow: 1px 1px 5px 1px #999;
	margin: 10px auto;
	background-color: white;
	border-radius: 5px;
	border: 3px;
}

input[value="編集"] {
	border-radius: 5px;
	padding: 2px 5px;
	border: none;
	outline: none;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

input[value="停止"] {
	border-radius: 5px;
	padding: 2px 5px;
	border: none;
	outline: none;
	font-weight: bold;
	margin-bottom: 10px;
}

input[value="復活"] {
	border-radius: 5px;
	padding: 2px 5px;
	border: none;
	outline: none;
	font-weight: bold;
	margin-bottom: 10px;
}


/* 修正箇所*/
.user-status {
	display: flex;
}

.user-status p{
	margin-right: 10px;
}

.inline-style {
	display: flex;
}

/* 修正箇所*/
.copyright {
	text-align: center;
	right: 20px;
	bottom: 10px;
	padding: 10px 0;
}