*{
	margin:0;
	padding:0;
}

.error-container {
	color:red;
	text-align: center;
	margin-top: 30px;
}


.message-container {
	margin-top: 60px;
}

form {
	width: 400px;
	text-align: left;
 	margin: 0 auto;

}

label {
	margin-right: 10px;
	width:150px;
	float: left;
}

.title-container input {
	margin-bottom: 10px;
	border-radius: 5px;
	border-width:thin;
	opacity: 0.5;
	padding: 2px;
}

.category-container input {
	margin-bottom: 10px;
	border-radius: 5px;
	border-width:thin;
	opacity: 0.5;
	padding: 2px;
}

.text-container textarea {
	width: 162px;
	height: 100px;
	border-radius: 5px;
	border-width:thin;
	opacity: 0.5;
	padding: 2px;
}



.message-post-container input{
	margin-top: 10px;
	padding: 3px 150px;
	border: none;
	outline: none;
	border-radius: 10px;
	background-color: #FFCC99;
	color: #fff;
	font-weight: bold;
}

.message-post-container input[value="投稿"]:active {
	-webkit-transform: translateY(4px);
  	transform: translateY(4px);
  	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  	border-bottom: none;
}

.back input{
	margin-top: 10px;
	padding: 3px 150px;
	border: none;
	outline: none;
	border-radius: 10px;
	background-color: #66CCFF;
	color: #fff;
	font-weight: bold;
}

.back input[value="戻る"]:active {
	-webkit-transform: translateY(4px);
  	transform: translateY(4px);
  	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  	border-bottom: none;
}



.copyright {
  position: absolute;
  right: 20px;
  bottom: 10px;

}