*{
	margin:0;
	padding:0;
}

.error-container {
	color:red;
	text-align: center;
	margin-top: 30px;
}

.management-header {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	border:none;
}

.management-header a {
	text-decoration: none;
	font-weight: bold;
}

.setting-container {
	margin-top: 60px;
}

form {
	width: 400px;
	text-align: left;
 	margin: 0 auto;

}

label {
	margin-right: 10px;
	width:150px;
	float: left;
}

.setting-element input {
	border-radius: 5px;
	border-width:thin;
	opacity: 0.5;
	padding: 2px;
}

.setting-element select {
	border-radius: 5px;
	border-width:thin;
	opacity: 0.5;
	padding: 2px;
}

.update-button-container input{
	margin-top: 10px;
	padding: 3px 160px;
	border: none;
	outline: none;
	border-radius: 10px;
	background-color: #FFCC99;
	color: #fff;
	font-weight: bold;
	margin-bottom: 10px;
}

.update-button-container input[value="更新"]:active {
	-webkit-transform: translateY(4px);
  	transform: translateY(4px);
  	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  	border-bottom: none;
}

.update-button-container a{
	margin-top: 5px;
	padding: 3px 158px;
	border: none;
	outline: none;
	border-radius: 10px;
	background-color: #66CCFF;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	margin-left: 442px;
	text-decoration: none;
}


.copyright {
  position: absolute;
  right: 20px;
  bottom: 10px;

}