<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ホーム画面</title>
<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="error-container">
		<div th:if="${errorMessages != null}">
			<div th:each="errorMessage : ${errorMessages}">
				<p th:text="${errorMessage}"></p>
			</div>
		</div>
	</div>
	<div class="header">
		<div class="info-container">
			<div class="content-container">
				<a href="/newMessage" class="msg1">新規投稿</a> <a href="management"
					class="msg1">ユーザー管理</a> <a href="logout" class="msg1">ログアウト</a> <br>
			</div>
		</div>
		<div class="date-container">
			<form action="./" method="get">
				<p id="date-paragraph">日付</p>
				<input id="date" type="date" name="startDate" th:value="${startDate}" />
				<p id="hyphen-paragraph">～</p>
				<input id="date" type="date" name="endDate"
					th:value="${endDate}" />
				<div class="category-container">
					<input id="search" type="text" name="category"
						th:value="${category}" />
					<input type="submit" value="絞り込み" />
				</div>
			</form>
		</div>
	</div>


	<p class="hello-container"
		th:text="${hello} + '、 ' + ${loginUser.name}+'さん'"></p>
	<div class="msg-container" th:each="message : ${messages}">
		<div th:each="user : ${users}">
			<div th:if="${user.id == message.userId}">
				<div class="message-container">
					<p>ユーザ名</p>
					<p th:text="${user.name}"></p>
				</div>
			</div>
		</div>
		<div class="message-container">
			<p>件名</p>
			<p th:text="${message.title}"></p>
		</div>
		<div class="message-container">
			<p>カテゴリ</p>
			<p th:text="${message.category}"></p>
		</div>
		<div class="message-container">
			<p>投稿内容</p>
		</div>
		<div class="text-container">
			<pre th:text="${message.text}"></pre>
		</div>
		<div class="message-container">
			<p>投稿日時</p>
			<p th:text="${message.createdDate}"></p>
		</div>
		<div class="message-container">
			<p>更新日時</p>
			<p th:text="${message.updatedDate}"></p>
		</div>
		<div th:if="${loginUser.id == message.userId}">
			<form th:action="@{/deleteMessage/{id}(id=${message.id})}"
				method="post" onSubmit="return checkSubmit()">
				<input type="submit" value="削除">
			</form>
		</div>
		<br>
		<hr>
		<br>
		<div th:each="comment : ${comments}">
			<div th:if="${message.id == comment.messageId}">
				<div th:each="user : ${users}">
					<div th:if="${user.id == comment.userId}" class="comment-container">
						<p>ユーザ名</p>
						<p th:text="${user.name}"></p>
					</div>
				</div>
				<div class="comment-container">
					<p>コメント内容</p>
				</div>
				<div class="text-container">
					<pre th:text="${comment.text}"></pre>
				</div>
				<div class="comment-container">
					<p>投稿日時</p>
					<p th:text="${comment.createdDate}"></p>
				</div>
				<div class="comment-container">
					<p>更新日時</p>
					<p th:text="${comment.updatedDate}"></p>
				</div>
				<div th:if="${loginUser.id == comment.userId}">
					<form th:action="@{/deleteComment/{id}(id=${comment.id})}"
						method="post" onSubmit="return checkSubmit()">
						<input type="submit" value="削除">
					</form>
				</div>
				<br>
				<hr>
				<br>
			</div>
		</div>
		<div class="new-comment-container">
			<form action="/newComment" th:method="post" th:object="${newComment}">
				<input type="hidden" name="commentMessageId"
					th:value="${message.id}"> <input type="hidden"
					name="commentUserId" th:value="${loginUser.id}">
				<textarea rows="10" cols="40" name="text" th:value="${text}"></textarea>
				<br> <input id="submit" type="submit" value="送信" />
			</form>
		</div>
	</div>

	<div class="footer">
		<div class="copyright">Copyright © M &amp; M's All Rights
			Reserved.</div>
	</div>

	<script type="text/javascript">
		function checkSubmit() {
			if (window.confirm("本当に削除しますか?")) {
				return true;
			} else {
				window.alert("キャンセルされました");
				return false;
			}
		}
	</script>
</body>
</html>