<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/index2.css}" rel="stylesheet" type="text/css">
<title>ログイン画面</title>
<style type="text/css">
* {
	margin: 0;
	padding: 0;
}

.error-container {
	color:red;
	text-align: center;
	margin-top:30px;
}

.title-container {
	width: 400px;
	text-align:center;
 	margin: 200px auto 10px auto;
 	font-family: 'Amatic SC', cursive;
}

form {
	width: 400px;
	text-align:center;
 	margin: 0 auto;

}

.account-container input{
	border-radius: 5px;
	border-width:thin;
	opacity: 0.5;
	padding: 2px;

}

.password-container input{
	border-radius: 5px;
	border-width:thin;
	opacity: 0.5;
	padding: 2px;
	margin-top: 10px;
}


.login-button-container input{
	margin-top: 10px;
	padding: 3px 100px;
	border: none;
	outline: none;
	border-radius: 10px;
	background-color: #99FFCC;
	color: #fff;
	font-weight: bold;
}

.login-button-container input[value="ログイン"]:active {
	-webkit-transform: translateY(4px);
  	transform: translateY(4px);
  	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  	border-bottom: none;
}

.copyright {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
</style>
</head>
<body>
	<div class="login-container">
		<div class="title-container">
			<h1>M &amp; M's</h1>
		</div>
		<form th:action="@{/login}" th:method="post">
			<div class="account-container">
				<label for="account">アカウント</label> <input name="account" type="text"
					id="account" th:value="${account}" />
			</div>
			<div class="password-container">
				<label for="password">パスワード</label> <input name="password"
					type="password" id="password" />
			</div>
			<div class="login-button-container">
				<input type="submit" value="ログイン" />
			</div>
		</form>
		<div class="error-container">
			<div th:if="${errorMessages != null}">
				<div th:each="errorMessage : ${errorMessages}">
					<p th:text="${errorMessage}"></p>
				</div>
			</div>
		</div>
		<div class="copyright">Copyright © M &amp; M's All Rights Reserved.</div>
	</div>
</body>
</html>