<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー管理画面</title>
<link>
<link th:href="@{/css/management.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="info">
		<a href="./">ホーム</a>
		<a href="/signup" id="a2">ユーザー新規登録</a>
	</div>
	<div class="error-container">
		<div th:if="${errorMessages != null}">
			<div th:each="errorMessage : ${errorMessages}">
				<p th:text="${errorMessage}"></p>
			</div>
		</div>
	</div>
	<div class="management-container">
		<div th:each="user : ${users}">
			<div class="management-element">
				<p>アカウント</p>
				<p th:text="${user.account}" name="account"></p>
			</div>
			<div class="management-element">
				<p>名前</p>
				<p th:text="${user.name}" name="name"></p>
			</div>
			<div class="management-element">
				<div th:each="branch : ${branches}">
					<div th:if="${user.branchId == branch.id}">
						<p>支店</p>
						<p th:text="${branch.branchName}"></p>
					</div>
				</div>
			</div>
			<div class="management-element">
				<div th:each="department : ${departments}">
					<div th:if="${user.departmentId == department.id}">
						<p>部署</p>
						<p th:text="${department.departmentName}"></p>
					</div>
				</div>
			</div>

			<div class="user-status">
				<p>アカウント復活停止状態</p>
				<th:block th:if="${user.isStopped == 0}">停止中</th:block>
				<th:block th:if="${user.isStopped == 1}">稼働中</th:block>
			</div>
			<div th:if="${loginUser.id != user.id}">
				<div class="setting-button">
					<form th:action="@{/setting/{id}(id=${user.id})}" method="get">
						<input type="submit" value="編集" />
					</form>
				</div>

				<div th:if="${user.isStopped == 1 }">
					<form th:action="@{/stop/{id}(id=${user.id})}" th:method="post"
						onsubmit="return reactivate()">
						<input type="hidden" th:value="${user.id}" name="userStatusId" />
						<input type="hidden" th:value="0" name="userStatus" /> <input
							type="submit" th:value="停止" />
					</form>
				</div>
				<div th:if="${user.isStopped == 0 }">
					<form th:action=@{/stop/{id}(id=${user.id})} th:method="post"
						onsubmit="return stop()">
						<input type="hidden" th:value="${user.id}" name="userStatusId" />
						<input type="hidden" th:value="1" name="userStatus" />
						<input type="submit" th:value="復活" />
					</form>
				</div>
				<br>
				<hr>
				<br>
			</div>
		</div>
	</div>

	<div class="copyright">Copyright © M &amp; M's All Rights
		Reserved.</div>

	<script type="text/javascript">
		function stop() {
			if (window.confirm("本当に停止しますか?")) {
				return true;
			} else {
				window.alert("キャンセルされました");
				return false;
			}
		}
	</script>
	<script type="text/javascript">
		function reactivate() {
			if (window.confirm("本当に復活しますか?")) {
				return true;
			} else {
				window.alert("キャンセルされました");
				return false;
			}
		}
	</script>
</body>
</html>