<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規投稿画面</title>
<link th:href="@{/css/newMessage.css}" rel="stylesheet" type="text/css">
</head>
<body>

	<div class="message-container">
		<form method="post" action="/addMessage" th:object="${messageModel}">
			<input name="loginUserId" type="hidden" th:value="${loginUser.id}">
			<div class="title-container">
				<label for="title">件名</label> <input name="title" type="text"
					id="title" th:value="*{title}" />
			</div>
			<div class="category-container">
				<label for="category">カテゴリ</label> <input name="category"
					type="text" id="category" th:value="*{category}" />
			</div>
			<div class="text-container">
				<label for="text">本文</label>
				<textarea name="text" id="text" th:text="*{text}"></textarea>
			</div>
			<div class="message-post-container">
				<input type="submit" value="投稿" />
			</div>
		</form>
	</div>
	<div class="back">
		<form action="/">
			<input type="submit" value="戻る" />
		</form>
	</div>
	<div class="error-container">
		<div th:if="${errorMessages != null}">
			<div th:each="errorMessage : ${errorMessages}">
				<p th:text="${errorMessage}"></p>
			</div>
		</div>
	</div>

	<div class="copyright">Copyright © M &amp; M's All Rights
		Reserved.</div>
</body>
</html>