<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/setting.css}" rel="stylesheet" type="text/css">
<title>ユーザ編集画面</title>
<link>
</head>
<body>

		<div class="setting-container">
		<form th:action="@{/updateUser/{id}(id=${optedUser.id})}"
			th:object="${optedUser}" th:method="post">
			<div class="setting-element">
				<label for="account">アカウント名</label> <input type="text"
					name="account" th:value="${optedUser.account}" />
			</div>
			<div class="setting-element">
				<label for="password">パスワード</label> <input type="password"
					name="password" />
			</div>
			<div class="setting-element">
				<label for="chkPassword">確認用パスワード</label> <input type="password"
					name="chkPassword" />
			</div>
			<div class="setting-element">
				<label for="name">名前</label> <input type="text" name="name"
					th:value="${optedUser.name}" />
			</div>
			<div class="setting-element">
				<label for="branch">支店</label> <select name="branch">
					<div th:each="branch : ${branches}">
						<option th:value=${branch.id} name="branchId"
							th:selected="${optedUser.branchId == branch.id}"><p
								th:text="${branch.branchName}">
						</option>
					</div>
				</select>
			</div>
			<div class="setting-element">
				<label for="department">部署</label> <select name="department">
					<div th:each="department : ${departments}">
						<option th:value=${department.id} name="departmentId"
							th:selected="${optedUser.departmentId == department.id}"><p
								th:text="${department.departmentName}">
						</option>
					</div>
				</select>
			</div>

			<input type="hidden" name="createdDate" th:value="${createdDate}" />
			<div class="update-button-container">
				<input type="submit" value="更新" />
			</div>
		</form>
		<div class="update-button-container">
			<a href="/management">戻る</a>
		</div>
		</div>
	<div class="error-container">
		<div th:if="${errorMessages != null}">
			<div th:each="errorMessage : ${errorMessages}">
				<p th:text="${errorMessage}"></p>
			</div>
		</div>
	</div>
	<div class="copyright">Copyright © M &amp; M's All Rights Reserved.</div>
</body>
</html>