<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/signup.css}" rel="stylesheet" type="text/css">
<title>ユーザー新規登録画面</title>
<link>
</head>
<body>
	<div class="signup-container">
		<div class="signup-header">
			<a href="/management">ユーザー管理画面</a>
		</div>
		<div class="signup-main">
			<form action="/signupUser" method="post" th:object="${userModel}">

				<div class="signup-element">
					<label for="account">アカウント</label> <input name="account"
						id="account" type="text" th:value="*{account}" />
				</div>
				<div class="signup-element">
					<label for="password">パスワード</label> <input name="password"
						id="password" type="password" th:value="*{password}" />
				</div>
				<div class="signup-element">
					<label for="chkPassword">確認用パスワード</label> <input name="chkPassword"
						type="password" />
				</div>
				<div class="signup-element">
					<label for="name">名前</label> <input name="name" id="name"
						type="text" th:value="*{name}" />
				</div>
				<div class="signup-element">
					<input type="hidden" name="isStopped" value="1" />
				</div>

				<div class="signup-element">
					<label for="branch">支店</label> <select name="branch">
						<div th:each="branch : ${branches}">
							<option th:value=${branch.id} name="branchId"
								th:selected="${userModel.branchId == branch.id}"><p
									th:text="${branch.branchName}">
							</option>
						</div>
					</select>
				</div>
				<div class="signup-element">
					<label for="department">部署</label> <select name="department">
						<div th:each="department : ${departments}">
							<option th:value=${department.id} name="departmentId"
								th:selected="${userModel.departmentId == department.id}"><p
									th:text="${department.departmentName}">
							</option>
						</div>
					</select>
				</div>
				<div class="register-button-container">
					<input type="submit" value="登録" />
				</div>
			</form>
		</div>
	</div>
	<div class="error-container">
		<div th:if="${errorMessages != null}">
			<div th:each="errorMessage : ${errorMessages}">
				<p th:text="${errorMessage}"></p>
			</div>
		</div>
	</div>
	<div class="copyright">Copyright © M &amp; M's All Rights
		Reserved.</div>
</body>
</html>